body {
  font-size: 16px;
  background-color: var(--m-bg-color);
  color: var(--m-text-color);
}
:root {
  --m-bg-color: #f5f5f5;
  --m-second-color: #e0e0e0;
  --m-text-color: #333333;
  --m-accent-color: #ff4081;
  --m-link-color: #303f9f;
  --m-container-color: #3e474a;
  --m-container-op-color: #e2dfdf;
  --m-boxbg-color: #55584d;
}
.dark {
  --m-bg-color: #141718;
  --m-second-color: #24292e;
  --m-text-color: #c9d1d9;
  --m-accent-color: #f78166;
  --m-link-color: #539bf5;
  --m-container-color: #f5f5f5;
  --m-container-op-color: #141718;
  --m-boxbg-color: #55584d;
  /* 整个滚动条 */
  & ::-webkit-scrollbar {
    width: 8px;
  }
  /* 滚动条的轨道 */
  & ::-webkit-scrollbar-track {
    background-color: var(--m-second-color);
  }
  /* 滚动条的滑块 */
  & ::-webkit-scrollbar-thumb {
    background: #4e4e4e;
    border-radius: 25px;
    &:hover {
      cursor: pointer;
      background-color: #615f5f;
    }
  }
}